.header {
    background-color: transparent; /*change to transparent*/
    font-weight: bold;
    font-size: 2em;
    height: 100px;
    padding: 10px 24px; /* top-bottom left-right*/
    box-shadow: 0 4px 6px rgba(0,0,0, 0.2);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.left a {
    text-decoration: none; /*remove the underline from link*/
    color: white;
}

.left a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    gap: 16px;
}

.right a {
    text-decoration: none;
    color: white;
}

.right a:hover {
    text-decoration: underline; 
}